* {
	padding:0; margin:0;
	}
body {
	font-size:16px;
	font-family: 'oxygen', sans-serif;
}
header {
	height:120px;
	text-align:center;
	background-color: #990000;
}
#sanger {
	float:left;
	margin-left:10px;
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;
	}
#main-container {	
	background-color:#e9e2d2;
}
#main-content {
	margin-top: 30px;	
}

.social-menu {
	margin-top: 30px;
}
.social-menu li {
	list-style:none;
	text-align: center;
	margin-bottom: 20px;
	color: #e9e2d2;
}
#nav-list .active a {
	color: #990000;
	background-color: beige;
}
li a {
	width:220px;
	color: #990000;
	background:#bfbfbf;
	font-size: 16px;	
	font-family: 'oxygen', sans-serif;
	border-bottom: 1px dotted gray;
}
#nav-list>li>a:hover {
	background: beige;color:black;
}
#sub-list {
	background:#e9e2d2;	
}
#sub-list li {
	height: 35px;	
}
#sub-list>li>a {
	color:#990000;
	font-size:12px;
	height:34px;
	line-height:34px;		
	background: #bfbfbf;
	border-bottom: 1px dotted gray;
}
#sub-list>li>a:hover {
	background-color: beige; color:black;
}
.dropdown-submenu:hover .dropdown-menu {
	display:block;
	top:0;	
	margin-left:220px;
	display:block;
}
#sub-menu2 {
	display:none;
}
.dropdown-submenu #sub-menu2>li>a {
	top:-35px;
	line-height:34px;
	height:34px;
	color:#990000;font-size: 12px;
	border-bottom: 1px dotted gray;

}
 #sub-menu2 li a:hover {
	color:#990000;font-size: 12px;
	border-bottom: 1px dotted gray;
}


.row.content {height: 100%}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #e9e2d2;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
#content {
	margin-top: 30px;
	margin-bottom: 50px;
}
#NYU {
	text-align: center;
}