* {padding:0; margin:0;}
a {text-decoration: none;}
li {list-style: none;}

body {
	background:#eee ;
}
header {	
	height:120px;
	text-align:center;
	background-color: #1e4f7e;
}
 .title h1 {/*title name*/
 	padding-top:25px;
 	margin-top:0;
 	font-size:30px;
	font-family: 'Lora', serif;
	color: white;	
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;	
	
	}
.title h3 {
	font-family: 'Lora', serif;
	font-size: 22px;
	color: white;	
	text-transform: uppercase;
}
#main-container {	
background-color:#eee;
}

/* Navigation STyling */
.main-nav {
		margin-top:30px;
		width: 280px;
		background: #cccccf;
		}
.main-nav a {
	height:50px;	
	text-transform: uppercase;
	letter-spacing: .1em;
	color:#1e4f7e;
	display: block;
	padding: 15px 0 10px 20px;
	border-bottom: 1px dotted gray;
}

.main-nav a:hover {text-decoration:none;
					background: #1e4f7e;
					color:#FFF;
					height:50px;
					transition: all 0.40s
				}

.main-nav .active-page{background: #1e4f7e;
					color:#FFF;}
/* Main list */
.sub-list1 a {
	margin-left: 10px;
	letter-spacing:0;
}
.main-nav-ul .sub-list1 {display: none;}
.main-nav-ul li:hover ul {
	display: block;
	transition: all 0.50s
}
.main-nav-ul ul a:before {
	content: '\203A';
	margin-right: 20px;
}
.main-nav .sub-arrow:after {
	content: '\203A';
	float: right;
	margin-right: 20px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}
.main-nav li:hover .sub-arrow:after {
	content: '\2039';transition: all 0.40s
}

/*Sub list-2*/
.main-nav-ul .sub-list1 .sub-list2 {display: none;}
.main-nav-ul .sub-list1 li:hover ul {
	display:block; 
	margin-left:20px;
	transition: all 0.40s
}
.main-nav-ul .sub-list1 ul a:before {
	content: '\203A';
	margin-right: 20px;transition: all 0.40s
}

.main-nav .sub-arrow1:after {
	content: '\203A';
	float: right;
	margin-right: 20px;transition: all 0.40s
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}
.main-nav li:hover .sub-arrow1:after {
	content: '\2039';transition: all 0.40s
}

/* Sub list-2 end*/
#sanger { margin-top:30px; }
#sanger img.center {
    display: block;
    margin-left:0 auto;
}

.nyu a {
	margin-left:10px;
}
.nyu p {
	text-align:center;
}
/* Content*/
#content {
	text-align:justify;
	padding:0;
	background-color:#eee;
	margin-top: 60px;
	margin-bottom: 50px;
}
#content a {
	color:#1e4f7e;
}
.panel-footer {
	height:50px;
	padding-top: 10px;
	text-align: center;
	background-color: #cccccf;
}

/*For about.html page*/
.blog {
	margin-left:-10px;
	margin-right:-10px;
	margin-top:385px;
	
	}
#recent-blog {
	margin-top:30px;	
}
.blog hr { 
    display: block;    
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}
.blog a { 
	color: #1e4f7e;	
}
.blog p {
	margin-top:20px;	
	font-family: 'Titillium Web', sans-serif; 
	font-size:16px;	
}

/* For Search Button*/
#search {
	width:170px;
	padding: 7px;
	border: 1px solid #1e4f7e;
}
#submit{
	padding: 7px;
	background: #1e4f7e;
	border: 1px solid #1e4f7e;
	color: white;
	margin-left: -5px;
	cursor:pointer;
}

#submit:hover {
	background: #1e4f7e;
	transition: all 0.40s;
}


